.auth-page {
  height: 60vh;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .auth-page {
    .signin {
      h2 {
        margin-bottom: 40px;
      }
      input {
        margin-bottom: 40px;
      }
    }
  }
}