.btn {
  padding: 10px 15px;
  letter-spacing: 1px;
  cursor: pointer;
  &-primary {
    background-color: #CD5C08;
    color: #fff;
    border: 1px solid #CD5C08;
  }
  &-secondary {
    border: 1px solid #CD5C08;
    background-color: #fff;
    color: #CD5C08;
    &:hover {
      background-color: #CD5C08;
      color: #fff;
    }
  }
  &-white {
    background-color: #fff;
    color: #03A791;
    border: transparent;
  }
  &-bg {
    background-color: #03A791;
    color: #fff;
    border: 1px solid #03A791;
  }
}