.hero-wrapper {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  &-ctas {
    button {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}