.hero-wrapper {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  &-ctas {
    button {
      padding: 10px;
      letter-spacing: 1px;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &.btn-primary {
        background-color: #CD5C08;
        color: #fff;
        border: 1px solid #CD5C08;
      }
      &.btn-secondary {
        border: 1px solid #CD5C08;
        background-color: #fff;
        color: #CD5C08;
        &:hover {
          background-color: #CD5C08;
          color: #fff;
        }
      }
    }
  }
}