.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  padding-top: 100px;
  h3 {
    font-size: 24px;
  }
  &-section {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      justify-content: center;
      align-items: center;
      svg {
        font-size: 26px;
      }
      h4 {
        font-size: 16px;
      }
      a {
        text-decoration: none;
        cursor: pointer;
        color: #000;
      }
    }
  }
}